/* You can add all your custom styles here */

body {
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  background-color: #EEE;
}

#maindiv {
  margin: 0 auto;
}

.pongListCellXCust {
  width: 100px;
}

.tableViewContentRowExpand div { 
  float: left; 
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
} 

